
		*{
			margin:0;
			padding:0;
			font-family:sans-serif
		}
		
		.Title {
			position: absolute;
			opacity: 0.8;
			top: 50%;
			left: 1%;
			color: #FFFFFF;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 20%;
			width: 20%;
			
			font-size: 2.5vh;
		}

		

		.date2 {
			position: absolute;
			opacity: 0.8;
			top: 67%;
			left: 1%;
			color: #FFFFFF;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 8%;
			width: 12%;
			height: 6%;
			width: 18%;
			font-size: 2.5vh;
		}

		.date22 {
			position: absolute;
			opacity: 0.6;
			top: 70%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			padding: 0;
			font-size: 2vh;
			height: 4vh;
			width: 28vh;
		}

		.date1 {
			position: absolute;
			opacity: 0.8;
			top: 58%;
			left: 1%;
			color: #FFFFFF;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 8%;
			width: 12%;
			font-size: 2.5vh;
				}

		.date11 {
			position: absolute;
			opacity: 0.6;
			top: 62%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			font-size: 2vh;
			height: 4vh;
			width: 28vh;
		}

		.boton1 {

			position: absolute;
			opacity: 0.8;
			top: 77%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 6%;
			width: 18%;
			font-size: 2.5vh;
		}

		.boton2 {

			position: absolute;
			opacity: 0.8;
			top: 85%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 6%;
			width: 18%;
			font-size: 2.5vh;
		}

		.boton {
			shape-outside: polygon();
			background-position: center;
			background-size: cover;
			position: absolute;
			background-image: url(icon.ico);
			background-repeat: no-repeat;
			opacity: 0.8;
			top: 80%;
			left: 25%;
			z-index: 10;
			height: 5.5vh;
			width: 5.5vh;

		}

		h2 {
			position: absolute;
			top: 20vh;
			left: 1vh;
			color: #e9f2eb;
			z-index: 10;
			margin: 0;
			padding: 0;
		}

		b {
			
			font-size: 2.2vh;
			position: absolute;
			top: 15vh;
			left: 1vh;
			color: hsl(157, 70%, 84%);
			z-index: 10;
			margin: 0;
			padding: 0;
		}

		.subtitulo {
			top: 16vh;
			font-size: 2.2vh;
		}

		.latitude {
			top: 20vh;
			left:14vh;
		}

		.longitude {
			top: 23vh;
			left:14vh;
		}

		.timestep {
			top: 29.5vh;
			left:5vh;
		}

		h1 {
			position: absolute;
			top: 3%;
			left: 1%;
			color: #000000;
			z-index: 20;
			margin: 0;
			padding: 10;
		}

		#map {
			position: absolute;
			top: 15%;
			left: 23%;
			z-index: 5;
			height: 78% ;
			width: 74%;

		}
		
		.hero{
			
			height: 100vh;
			background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("fondo2.png");
			background-position: center;
			background-size: cover;
			overflow-x: hidden;
			position: relative;
		}
		.nav-bar{
			display:flex;
			padding:3.6vh 73vh;
			position: absolute;
			z-index: 6;
		}
		
		.nav-links{
			width: 100vh;
			flex:1vh;
			
		}
		.nav-links ul{
			margin-left: 12vh;
			display: inline;
			
		}
		.nav-links ul li{
			list-style: cross-fade();
			display:inline-block;
			padding:0 2.8vh;
			
		}
		.nav-links ul a{
			color: #ffffff;
			text-decoration: none;
			font-size: 3vh;
		}
		.nav-links ul li::after{
			content:'';
			width:0;
			height:0.5vh;
			background:rgba(255, 0, 0, 0.541);
			display:block;
			margin:auto;
			transition:.5s;
		}
		.nav-links ul li:hover:after{
			width:100%;    
		}
		


		
		#square1 {
			display: block;
			background-image:url("truckpos.png");
			background-position: center;
			background-size: cover;
			width: 46vh;
			height: 40vh;
			top:8vh;
			position: absolute;;
			}
		#square2 { 
			display: block;
			left:0.5%;
			top: 45%;
			opacity: 0.6;
			position: absolute;
			width: 40vh;
			height: 50vh;
			background-blend-mode: overlay;
			background: rgb(5, 214, 144);
			}


			@media(max-width: 700px){
				.bannet-title{
					margin:80 px 40 px}
				.bannet-title{
					left:25%
				}
				.nav-bar{
					padding:10px 30 px;
				}
				.bannet-title h1{
					font-size: 3.5vh;
				}
				}
				
				
		