*{
    margin:0;
    padding:0;
    font-family:sans-serif
}
.hero{
    height: 9vh;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display:flex;
    padding:1% 4%;
    position: relative;
    z-index: 6;
}

.nav-links{
    width: 100%;
    flex:1%;
    
}
.nav-links ul{
    margin-left: 0vh;
    display: inline;
    
}
.nav-links ul li{
    list-style: cross-fade();
    display:inline-block;
    padding:0 2vh;
    
}
.nav-links ul a{
    color: #ffffff;
    text-decoration: none;
    font-size: 3vh;
}
.nav-links ul li::after{
    content:'';
    width:0;
    height:0.5vh;
    background:rgba(255, 0, 0, 0.541);
    display:block;
    transition:.5s;
}
.nav-links ul li:hover:after{
    width:100%;    
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y:hidden;
    margin:0; 
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("fondo2.png");
    background-position: center;
    background-size: cover;

}
.bannet-title{
    margin:5% 6%;
    color: white;
    position: absolute;
    top: 8%;
    left: 10%;
    width: 80%;
    height: 60%;
}
.bannet-title h1{
    font-size: 6vh;
    width: 90%;
}
.btn{
    color:white;
    width: 28vh;
    height: 6vh;
    position: relative;
    background-color: rgba(255, 0, 0, 0.411);
    font-size: 2.2vh;
    background-blend-mode: overlay;
    transition: 0.3ms;
}
.btn:hover{
    color:black;
    background-color:rgb(255, 208, 0);
}
.bannet-title h1 span{
    color:rgb(255, 208, 0);

}
