
		*{
			margin:0;
			padding:0;
			font-family:sans-serif
		}
		
		.Title {
			position: absolute;
			opacity: 0.8;
			top: 50%;
			left: 1%;
			color: #FFFFFF;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 5%;
			width: 20%;
			font-size: 100%;
		}

		.alerta {
			width: 50000px;
			text-align: center;
			margin: auto;
			color: #B06AB3;
			padding-top: 200px;

		}

		.date2 {
			position: absolute;
			opacity: 0.8;
			top: 67%;
			left: 1%;
			color: #FFFFFF;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 8%;
			width: 12%;
			height: 6%;
			width: 18%;
			font-size: 100%;
		}

		.date22 {
			position: absolute;
			opacity: 0.6;
			top: 70%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			padding: 0;
			font-size: 100%;
			height: 4%;
			width: 18%;
		}

		.date1 {
			position: absolute;
			opacity: 0.8;
			top: 58%;
			left: 1%;
			color: #FFFFFF;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 8%;
			width: 12%;
			font-size: 100%;
				}

		.date11 {
			position: absolute;
			opacity: 0.6;
			top: 62%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			font-size: 100%;
			height: 4%;
			width: 18%;
		}

		.boton1 {

			position: absolute;
			opacity: 0.8;
			top: 77%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 6%;
			width: 18%;
			font-size: 100%;
		}

		.boton2 {

			position: absolute;
			opacity: 0.8;
			top: 85%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 6%;
			width: 18%;
			font-size: 100%;
		}

		.boton {
			shape-outside: polygon();
			background-position: center;
			background-size: cover;
			position: absolute;
			background-image: url(icon.ico);
			background-repeat: no-repeat;
			opacity: 0.8;
			top: 80%;
			left: 25%;
			z-index: 10;
			height: 5.5vh;
			width: 5.5vh;

		}

		h2 {
			position: absolute;
			top: 10%;
			left: 1%;
			color: #e9f2eb;
			z-index: 10;
			margin: 0;
			padding: 0;
		}

		b {
			
			font-size: 80%;
			position: absolute;
			top: 9%;
			left: 1%;
			color: hsla(0, 0%, 100%, 0.671);
			z-index: 10;
			margin: 0;
			padding: 0;
		}
		.subtitulo {
			top: 12%;
			font-size: 90%;
		}

		.latitude {
			top: 17%;
			left:7%;
		}

		.longitude {
			top: 20%;
			left:7%;
		}

		.timestep {
			top: 25%;
			left:3%;
			font-size: 70%;
		}

		h1 {
			position: absolute;
			top: 3%;
			left: 1%;
			color: #000000;
			z-index: 20;
			margin: 0;
			padding: 5%;
		}

		#map {
			position: absolute;
			top: 15%;
			left: 23%;
			z-index: 5;
			height: 78% ;
			width: 74%;

		}
		
		.hero{
			height: 100%;
			background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("fondo2.png");
			background-position: center;
			background-size: cover;
			overflow-x: hidden;
			position: relative;
		}
		.nav-bar{
			display:flex;
			padding:2% 36%;
			position: absolute;
			z-index: 6;
		}
		
		.nav-links{
			width: 100%;
			flex:1%;
			
		}
		.nav-links ul{
			margin-left: 12vh;
			display: inline;
			
		}
		.nav-links ul li{
			list-style: cross-fade();
			display:inline-block;
			padding:0 2vh;
			
		}
		.nav-links ul a{
			color: #ffffff;
			text-decoration: none;
			font-size: 3vh;
		}
		.nav-links ul li::after{
			content:'';
			width:0;
			height:0.5vh;
			background:rgba(255, 0, 0, 0.541);
			display:block;
			margin:auto;
			transition:.5s;
		}
		.nav-links ul li:hover:after{
			width:100%;    
		}
		
		html, body {
			height: 100%;
			width: 100%;
			overflow-x: hidden;
			overflow-y:hidden;
			margin:0; 
		}
		
		#square1 {
			display: block;
			
			background-image:url("truckpos.png");
			background-position: center;
			background-size: cover;
			width: 23%;
			height: 30%;
			top:8%;
			position: absolute;;
			}

		#square2 { 
			display: block;
			left:0.5%;
			top: 45%;
			opacity: 0.6;
			position: absolute;
			width: 20%;
			height: 50%;
			background-blend-mode: overlay;
			background: rgb(5, 214, 144);
			}
			#sliderAmount{
				position: absolute;
				left:0.5%;
				top: 45%;
				width: 100vh;
			  }
			  #slide{
				z-index: 20;
							
			  }
	

				
				
		