
		*{
			margin:0;
			padding:0;
			font-family:sans-serif

		}
		h4{
			width: 70%;
		}
		.cent{
			-webkit-appearance: none;
			height: 3vh;
			width: 3vh;
			background-image: url(icon.ico);
			background-size: cover;	
		}
		#map {
			position: relative;
			z-index: 10;
			width: 68%;
			height: 85%;
			margin-top: 1%;	
			margin-left: 2%;		
			float:right;
		}
		#map iframe{
			width:100%;
		 }
		#total{
			width: 100%;
		}
		.hero{
			height: 9vh;
			overflow-y: hidden;
			overflow-x: hidden;
			position: relative;
		}
		.nav-bar{
			display:flex;
			padding:1% 4%;
			position: relative;
			z-index: 6;
		}
		
		
		.nav-links{
			width: 100%;
			flex:1%;
			
		}
		.nav-links ul{
			margin-left: 0vh;
			display: inline;
			
		}
		.nav-links ul li{
			list-style: cross-fade();
			display:inline-block;
			padding:0 2vh;
			
		}
		.nav-links ul a{
			color: #ffffff;
			text-decoration: none;
			font-size: 3vh;
		}
		.nav-links ul li::after{
			content:'';
			width:0;
			height:0.5vh;
			background:rgba(255, 0, 0, 0.541);
			display:block;
			transition:.5s;
		}
		.nav-links ul li:hover:after{
			width:100%;    
		}
		.edit1{
			margin-left: 5%;
			margin-top: 1%;
			margin-bottom: 1%;
			width: 90%;
			height: 80%;
		}
		html, body {
			height: 100%;
			width: 100%;
			overflow-x: hidden;
			overflow-y:hidden;
			margin:0; 
			background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("fondo2.png");
			background-position: center;
			background-size: cover;
		
		}
		
		
		#square2 { 
			word-wrap: break-word; 
			float:left;
			position: relative;
			width: 29%;
			height: 100%;	
			background-position: center;
			background-size: cover;
			overflow-y: auto;
			overflow-x: hidden;
			
			}
		#H{
			border-style: solid;
			border: "thick solid #0050FF";
			visibility: hidden;
		}
		#R{
			border-style: solid;
			border: "thick solid #0050FF";
			visibility: hidden;
		}
		#myRange1{
			visibility: hidden;
		}
		#myRange2{
			visibility: hidden;
		}
		.car{
			border-style: solid;
			border: "thick solid #0050FF";
			margin-left: 2%;
			margin-top: 3%;
			width:96%;
			position: center;
			background-color:rgba(0, 0, 0, 0.637);
			background-position: center;
			background-size: cover;
		}
		.historicos{
			position: relative;
			margin-left: 2%;
			width:96%;
			margin-top: 5%;
			background-color:rgba(0, 0, 0, 0.637);
			background-position: center;
			background-size: cover;
		}
		
		.rangos{
			margin-top: 5%;
			position: relative;
			margin-left: 2%;
			width:96%;
			background-color:rgba(0, 0, 0, 0.637);
			background-position: center;
			background-size: cover;
			margin-bottom: 10%;
		}
		.cars{
			position: relative;
			top: 12%;
			left: 1%;
			color: hsla(0, 0%, 100%, 0.671);
			z-index: 10;
			margin: 0;
			padding: 0;
			width: 14%;
		}
		
		.car1{
			background-color: rgb(255, 196, 0);
			top: 27%;
			left:7%;
			font-size: 120%;
			font-weight: 600;
			width:100%;
			transition: 0.3s;
		}
		.car1:hover {
 		background-color: rgb(255, 255, 255);
		}
		
		.car2{
			background-color: rgb(255, 196, 0);
			top: 20%;
			left:7%;
			font-size: 120%;
			font-weight: 600;
			width:100%;
			transition: 0.3s;
		}
		.car2:hover {
			background-color: rgb(255, 255, 255);
		   }
		   
		.Title {
			text-align: center;
			color: rgb(255, 196, 0);
			z-index: 10;
			margin: 0;
			padding: 0;
			width: 100%;
			font-size: 120%;
			margin-top: 4%;
		}


		.date2 {
			opacity: 0.8;
			font-weight: 700;
			color: #ffffff;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 8%;
			width: 100%;
			font-size: 100%;
			margin-top: 1%;
		}

		.date22 {
			opacity: 0.6;
			
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			font-size: 100%;
			width: 99%;
			margin-top: 1%;
		}

		.date1 {
			font-weight: 700;
			opacity: 0.8;
			color: #ffffff;
			z-index: 10;
			margin: 0;
			padding: 0;
			width: 100%;
			font-size: 100%;
			margin-top: 4%;
				}

		.date11 {
			opacity: 0.6;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			font-size: 100%;
			width: 99%;
			margin-top: 1%;
		}

		.boton1 {
			opacity: 0.7;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			width: 100%;
			font-size: 100%;
			margin-top: 1%;
		}

		.boton2 {
			opacity: 0.7;
			top: 67%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			width: 100%;
			font-size: 100%;
			margin-top: 1%;
			margin-bottom:4%;
		}

		

		
		p{
			font-size: 80%;
			font-weight: 700;
			color: #ffffff;
			z-index: 10;
			width: 100%;
		}
		b {
			font-weight: 700;
			font-size: 100%;
			color: #ffffff;
			background-position: center;
			z-index: 10;
			margin: 0;
			padding: 0;
			width: 100%;
			margin-top: 4%;
		}
		
		
		.timestep {
			width:100%;
			font-size: 70%;
		}

		h1 {
			color: #000000;
			width: 100%;
			z-index: 20;
			margin: 0;
			padding: 5%;
		}
		.slide{
			width:100%;
		}
		

			.slider1 {
				color: #FFFFFF;
				z-index: 10;
				margin: 0;
				padding: 0;
				padding: 0;
				font-size: 100%;
				width: 100%;

			}



.slider {
  -webkit-appearance: none;
  width: 100%;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 15px;

  background: #af4c4c;

  cursor: pointer;
}

#timec1{
	width:100%;
	border:none;
	background: none;
	font-weight: 700;
	color: #ffffff;
	font-size: 100%;
	background-image: url('caja.jpg');
	transition: 0.3ms;
}

#timec2{
	width:100%;
	border:none;
	background: none;
	font-weight: 700;
	color: #ffffff;
	font-size: 100%;
	background-image: url('caja.jpg');
	transition: 0.3ms;
}

@media(max-width: 500px){
	#map {
		position: relative;
		z-index: 10;
		width: 100%;
		height: 75%;
	}
	#square2{
		width:100%;
		float: right;
	}
	html, body {
		height: 100%;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		margin:0; 
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("fondo2.png");
		background-position: center;
		background-size: cover;
	
	}
	
	}
