
		*{
			margin:0;
			padding:0;
			font-family:sans-serif

		}
		.cars{
			position: absolute;
			top: 12%;
			left: 1%;
			color: hsla(0, 0%, 100%, 0.671);
			z-index: 10;
			margin: 0;
			padding: 0;
			width: 14%;
		}
		.subtitulo {
			position: relative;
			font-size: 90%;
		}
		.car1{
			background-color: rgb(255, 217, 0);
			top: 27%;
			left:7%;
			width:100%;
			transition: 0.3s;
		}
		.car1:hover {
 		background-color: rgb(255, 255, 255);
		}
		
		.car2{
			background-color:  rgb(255, 217, 0);
			top: 20%;
			left:7%;
			width:100%;
			transition: 0.3s;
		}
		.car2:hover {
			background-color: rgb(255, 255, 255);
		   }
		   
		.Title {
			position: absolute;
			opacity: 0.8;
			top: 38%;
			left: 1%;
			color: #FFFFFF;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 5%;
			width: 20%;
			font-size: 100%;
		}


		.date2 {
			position: absolute;
			opacity: 0.8;
			top: 53%;
			left: 1%;
			color: #FFFFFF;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 8%;
			width: 12%;
			height: 6%;
			width: 18%;
			font-size: 100%;
		}

		.date22 {
			position: absolute;
			opacity: 0.6;
			top: 56%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			padding: 0;
			font-size: 100%;
			height: 4%;
			width: 18%;
		}

		.date1 {
			position: absolute;
			opacity: 0.8;
			top: 44%;
			left: 1%;
			color: #FFFFFF;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 8%;
			width: 12%;
			font-size: 100%;
				}

		.date11 {
			position: absolute;
			opacity: 0.6;
			top: 48%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			font-size: 100%;
			height: 4%;
			width: 18%;
		}

		.boton1 {

			position: absolute;
			opacity: 0.8;
			top: 62%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 4%;
			width: 18%;
			font-size: 100%;
		}

		.boton2 {

			position: absolute;
			opacity: 0.8;
			top: 67%;
			left: 1%;
			color: #000000;
			z-index: 10;
			margin: 0;
			padding: 0;
			height: 4%;
			width: 18%;
			font-size: 100%;
		}

		.boton {
			shape-outside: polygon();
			background-position: center;
			background-size: cover;
			position: absolute;
			background-image: url(icon.ico);
			background-repeat: no-repeat;
			opacity: 0.8;
			top: 80%;
			left: 25%;
			z-index: 10;
			height: 5.5vh;
			width: 5.5vh;

		}

		h2 {
			position: absolute;
			top: 10%;
			left: 1%;
			color: #e9f2eb;
			z-index: 10;
			margin: 0;
			padding: 0;
		}
		
		
		b {
			font-size: 80%;
			top: 9%;
			left: 1%;
			color: hsla(0, 0%, 100%, 0.671);
			z-index: 10;
			margin: 0;
			padding: 0;
		}
		

		.timestep {
			top: 25%;
			left:3%;
			font-size: 70%;
		}

		h1 {
			position: absolute;
			top: 3%;
			left: 1%;
			color: #000000;
			z-index: 20;
			margin: 0;
			padding: 5%;
		}
		.slide{
			top:4%;
			overflow-y: visible;
		}
		#map {
			position: absolute;
			top: 15%;
			left: 23%;
			z-index: 5;
			height: 78% ;
			width: 74%;			

		}
		
		.hero{
			height: 100%;
			background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("fondo2.png");
			background-position: center;
			background-size: cover;
			overflow-x: hidden;
			position: relative;
		}
		.nav-bar{
			display:flex;
			padding:2% 36%;
			position: absolute;
			z-index: 6;
		}
		
		.nav-links{
			width: 100%;
			flex:1%;
			
		}
		.nav-links ul{
			margin-left: 12vh;
			display: inline;
			
		}
		.nav-links ul li{
			list-style: cross-fade();
			display:inline-block;
			padding:0 2vh;
			
		}
		.nav-links ul a{
			color: #ffffff;
			text-decoration: none;
			font-size: 3vh;
		}
		.nav-links ul li::after{
			content:'';
			width:0;
			height:0.5vh;
			background:rgba(255, 0, 0, 0.541);
			display:block;
			margin:auto;
			transition:.5s;
		}
		.nav-links ul li:hover:after{
			width:100%;    
		}
		
		html, body {
			height: 100%;
			width: 100%;
			overflow-x: hidden;
			overflow-y:hidden;
			margin:0; 
		}
		

		#square1 {
			display: block;
			
			background-image:url("camion.png");
			background-position: center;
			background-size: cover;
			width: 23%;
			height: 30%;
			top:8%;
			position: absolute;;
			}

		#square2 { 
			display: block;
			left:0.5%;
			top: 37%;
			opacity: 0.6;
			position: absolute;
			width: 22%;
			height: 62%;
			background-blend-mode: overlay;
			background: rgb(214, 5, 5);
			}

			.slider1 {
				position: absolute;
				opacity: 0.8;
				top: 73%;
				left: 2%;
				
				color: #FFFFFF;
				z-index: 10;
				margin: 0;
				padding: 0;
				padding: 0;
				font-size: 100%;
				height: 4%;
				width: 90%;

			}


.slidecontainer {
	position: relative;
  	width: 20%;
    background: #d3d3d3;
	font-size: 70%;

}

.slider {
  -webkit-appearance: none;
  width: 20%;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 15px;

  background: #af4c4c;

  cursor: pointer;
}

.timestep1{
	width:100%;
	border:none;
	background: none;
	color: white;
	transition: 0.3ms;
}
.timestep1:hover {
	border-left: solid;
	border-right: solid;
	/* Start the shake animation and make the animation last for 0.5 seconds */
	
	animation: shake 0.5s;
  
	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
  }
  
  @keyframes shake {
	0% { transform: translate(0.25%, 0.25%) rotate(0deg); }
	10% { transform: translate(-0.5%, -0.5%) rotate(-1deg); }
	20% { transform: translate(-0.5%, 0%) rotate(1deg); }
	30% { transform: translate(0.75%, 0.5%) rotate(0deg); }
	40% { transform: translate(0.25%, -0.25%) rotate(1deg); }
	50% { transform: translate(-0.25%, 0.5%) rotate(-1deg); }
	60% { transform: translate(-0.75%, 0.25%) rotate(0deg); }
	70% { transform: translate(0.75%, 0.25%) rotate(-1deg); }
	80% { transform: translate(-0.25%, -0.25%) rotate(1deg); }
	90% { transform: translate(0.25%, 0.5%) rotate(0deg); }
	100% { transform: translate(0.25%, -0.5%) rotate(-1deg); }
  }
/* .timestep1:hover {
	border-right: 3px ridge #000000;
	border-left: 3px ridge #000000;
	background: rgba(0,0,0,0);
} */
